html,
body{
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

section{
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;

  @include mobile{
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container{
  width: 100%;
  max-width: 1200px;
}

.remove-padding-at-mobile{
  @include mobile{
    padding: 0 !important;
  }
}