html,
body{
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

section{
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.container{
  width: 100%;
  max-width: 1200px;
}