.animated-enter-right{
  animation: enterRight 2s;
}

@keyframes enterRight {
  0% {
    transform: translateX(100vw);
  }
  65%{
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}