.justified-center{
  justify-content: center;
}

.justified-space-between{
  justify-content: space-between;
}

.aligned-center{
  align-items: center;
}

.justified-flex-end{
  justify-content: flex-end;
}

.aligned-start-at-mobile{
  @include mobile{
    align-items: flex-start;
  }
}