#hero{
  padding-top: 64px;
  padding-bottom: 64px;

  @include mobile{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  h1{
    font-size: 6.4rem;
    vertical-align: bottom;
    margin-bottom: 32px;

    @include mobile{
      font-size: 3.2rem;
    }
  }

  .container{
    @include mobile{
      gap: 16px;
    }
    
    & > div{
      &:nth-of-type(1){
        width: 55%;
      }

      &:nth-of-type(2){
        text-align: right;  
        position: relative;
        width: 45%;

        &::before{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: $sky-light;
          left: 0;
          top: 0;
          display: flex;
          border-radius: 50%;
          animation: enterRight 2s ease-in-out;
        }

        .spark{
          position: absolute;
          animation-timing-function: ease-in-out;
        }

        .spark-left{
          left: 3%;
          top: 20%;
        }

        .spark-right{
          bottom: 30%;
          right: -3%;
        }

        img{
          position: relative;
          z-index: 2;
        }
      }
    }
    .col{

      &:nth-of-type(1),
      &:nth-of-type(2){
        @include mobile{
          width: 100%;
        }
      }
    }
  }
}