#use-snitap {
  padding: 32px;
  text-align: center;

  .pre-title {
    margin-bottom: 8px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "area1 area2 area2"
      "area3 area3 area4";

    .col {
      height: 400px;
      position: relative;
      border-radius: 4rem;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        z-index: -2;
        height: 100%;
        width: 100%;
        background-image: url("../images/use-snitap-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        background-position: center;
        top: 0;
        left: 0;
        display: flex;
        transition: transform 0.5s;
      }

      &:hover {
        &::after {
          transform: scale(1.08);
        }
      }

      &:nth-of-type(2) {
        &::after {
          background-image: url("../images/use-snitap-2.png");
        }
      }

      &:nth-of-type(3) {
        &::after {
          background-image: url("../images/use-snitap-3.png");
        }
      }

      &:nth-of-type(4) {
        &::after {
          background-image: url("../images/use-snitap-4.png");
        }
      }

      a {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        color: $white;
        font-size: 1.2rem;
        z-index: 2;

        .info-float {
          position: absolute;
          padding: 16px 32px;
          bottom: -50%;
          left: 0;
          transition: 0.5s;
          width: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 0.01%,
            rgba(0, 0, 0, 0.64) 100%
          );
        }

        &:hover {
          .info-float {
            bottom: 0;
          }
        }
      }
    }
  }
}
